{% extends 'base.html' %}
{% block header %}
{% endblock %}
{% block content %}
<div class="container">
    <div class="card">
        
        <form action="/" method="get">
            <p>
                <label class="label" for="nome">Nome</label>
                <input type="text" class="input" name="nome" id="nome">
            </p>
            <p>
                <label class="label" for="senha">Senha</label>
                <input type="password" class="input" name="senha" id="senha">
            </p>
            <button class="btn btn-primary" type="submit">Enviar</button>
        </form>

    </div>
</div>

{% endblock %}