{% extends 'base.html' %}
{% block header %}
{% endblock %}
{% block content %}


<div class="container">
    <div class="card">

        <form action="/" method="get">
            <p>
                <label class="label" for="tarefa">Nome Tarefa</label>
                <input type="text" class="input" name="tarefa" id="tarefa">
            </p>
            <p style="display: flex;align-items: center;">
                <label class=" label" for="descricao" style="margin-right: 5px;">Descrição</label>
                <textarea type="text" name="descricao" id="descricao" rows="2" cols="33" p-2></textarea>
            </p>
            <button class="btn btn-primary" type="submit">Enviar</button>
        </form>

    </div>
</div>
{% endblock %}