{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}{{title}}{% endblock %}</h1>
{% endblock %}

{% block content %}
<div class="container">
    <div class="card">

        <form action="" method="get">
            <p>
                <label class="label" for="projeto">Nome Projeto</label>
                <input type="text" class="input" name="projeto" id="projeto" required>
            
            <p style="display: flex;align-items: center;">
                <label class="label" for="tarefa">Descrição</label>
                <textarea type="text" class="input" name="tarefa" id="tarefa" required></textarea>
            </p>
            <button class="btn btn-primary" type="submit">Enviar</button>
        </form>

    </div>
</div>

{% endblock %}