{% extends 'base.html' %}
{% block header %}
{% endblock %}
{% block content %}
<div class="container">
    <div class="card">

        <form action="/" method="post">
            <p>
                <label class="label" for="login">login</label>
                <input type="text" class="input" name="login" id="login">
            </p>
            <p>
                <label class="label" for="senha">Senha</label>
                <input type="password" class="input" name="senha" id="senha">
            </p>
            <p>
                <button class="btn btn-primary" type="submit">Enviar</button>
                <a class="btn btn-primary" href="">Voltar</a>
            </p>

        </form>

    </div>
</div>

{% endblock %}