<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">

    <title>{{title}}</title>

    <style>
        .card {
            justify-content: center;
            align-items: center;
            width: max-content;
            margin: 50px;
            padding: 20px;

        }

        #button-container {
            flex-direction: column;
        }
    </style>
</head>

<body>
    <div class="container">
        <h1>{{heading}} temos, {{num_users}}</h1>
        <div class="card d-flex col-12">

            <div class="d-inline-flex m-0 " id="button-container">
                <a class="m-4 btn btn-primary " href="/user/cadastro">Cadastro Usuários</a>
                <a class="m-4 btn btn-primary " href="cadastroTarefas">Cadastro Tarefas</a>
                <a class="m-4 btn btn-primary " href="cadastroProjetos">Cadastro Projetos</a>

            </div>
 

        </div>
    </div>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
        crossorigin="anonymous"></script>

</body>

</html>