{% extends 'base.html' %}
{% block header %}
{% endblock %}
{% block content %}
<div class="container">

    <div class="card d-flex col-12">

        <div class="d-inline-flex m-0 " id="button-container">
            <a class="m-4 btn btn-primary " href="/user/cadastro">Cadastro Usuários</a>
            <a class="m-4 btn btn-primary " href="/tarefa/cadastro">Cadastro Tarefas</a>
            <a class="m-4 btn btn-primary " href="/projeto/cadastro">Cadastro Projetos</a>

        </div>


    </div>
</div>

{% endblock %}