{% extends 'base.html' %}
{% block header %}
{% endblock %}
{% block content %}

<div class="card">

    <form action="/home" method="post">

        <div class="mb-3">
            <label for="login" class="form-label">Login</label>
            <input required type="text" class="form-control" id="login" name="login" placeholder="" value="{{login}}">
        </div>
        <div class="">
            <div class="col-auto">
                <label for="senha" class="col-form-label">Senha</label>
            </div>
            <div class="col-auto">
                <input required type="password" id="senha" name="senha" class="form-control"
                    aria-labelledby="senhaHelpInline">
            </div>
            <div class="col-auto">
                <span id="passwordHelpInline" class="form-text">
                    <a href="/user/cadastro">Cadastre-se</a>
                </span>
            </div>
        </div>

        <button type="submit" class="btn btn-primary mt-2">Entrar</button>
    </form>



</div>

{% endblock %}